
<!DOCTYPE html>
<html lang="en">
<!-- Nav -->
{% include "./Navbar.html" %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>About The Museum</title>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</head>
<body>
{% load staticfiles %}



<section class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">ABOUT THE MUSEUM</h1>
        <div class="row center">
          <!--<h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>-->
        </div>
      </div>
    </div>

    <div class ="parallax"><img src="{% static 'about.jpeg' %}" alt="Musemum"></div>
</section>


<!---- NAVBAR --->

<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">BOB MARLEY</a></li>
  <li><a href="#!">JACKIE ROBERSON</a></li>
  <li class="divider"></li>
  <li><a href="#!">Another</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/index">HOME</a></li>
      <li><a href="badges.html">FAQ</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">EXHIBITS<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>





<p> The National Museum of African American History and Culture is the only national museum devoted exclusively to the documentation of African American life, history, and culture.
    It was established by Act of Congress in 2003, following decades of efforts to promote and highlight the contributions of African Americans.
    To date, the Museum has collected more than 36,000 artifacts and nearly 100,000 individuals have become members.
    The Museum opened to the public on September 24, 2016, as the 19th and newest museum of the Smithsonian Institution.</p>

<p>There are four pillars upon which the our museum stands by:</p>

<ul class="collapsible popout">
    <li>
      <div class="collapsible-header purple white-text"><i class="material-icons">looks_one</i>First</div>
      <div class="collapsible-body"><span>It provides an opportunity for those who are interested in African American culture to explore and r
          evel in this history through interactive exhibitions</span></div>
    </li>
    <li>
      <div class="collapsible-header orange "><i class="material-icons">looks_two</i>Second</div>
      <div class="collapsible-body"><span>It helps all Americans see how their stories, their histories,
          and their cultures are shaped and informed by global influences</span></div>
    </li>
    <li>
      <div class="collapsible-header green"><i class="material-icons">looks_3</i>Third</div>
      <div class="collapsible-body"><span>It explores what it means to be an American and share how American values like resiliency, optimism,
          and spirituality are reflected in African American history and culture</span></div>
    </li>
    <li>
      <div class="collapsible-header red white-text"><i class="material-icons">looks_4</i>Fourth</div>
      <div class="collapsible-body"><span>It serves as a place of collaboration that reaches beyond Washington, D.C. to engage new audiences and to work with the myriad of museums and educational
          institutions that have explored and preserved this important history well before this museum was created.</span></div>
    </li>
  </ul>


<blockquote class="paragraphs-item paragraphs-item--quote paragraphs-item--full anim-fadein" about="" typeof="" id="paragraphs-item-321" style="opacity: 1;">
  <p>This Museum will tell the American story through the lens of African American history and culture. This is America’s Story and this museum is for all Americans.
</p>
  <cite class="blockquote__cite">

	<span class="cite__name">Lonnie G. Bunch, III</span>

	<span class="cite__title">Founding Director, NMAAHC</span>
  </cite>
</blockquote>


<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems);
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });

</script>


</body>
</html>





