<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>BOB MARLEY</title>
</head>
<body>
{% load staticfiles %}

<ul id="dropdown1" class="dropdown-content">
  <li><a href="/about">BOB MARLEY</a></li>
  <li><a href="#!">JACKIE ROBERSON</a></li>
  <li class="divider"></li>
  <li><a href="#!">OTHER</a></li>
</ul>

<nav>
  <div class="nav-wrapper purple">
    <a href="#!" class="purple brand-logo">African American History Museum</a>
    <a href ="#" data-target ="mobile-nav" class ="sidenav-trigger">
        <i class = "material-icons">menu</i>
    </a>
    <ul class="right purple hide-on-med-and-down">
        <!-- Dropdown Trigger -->
        <li><a href="#"> <i class = "material-icons">search</i></a></li>
      <li><a href="/index">HOME</a></li>
      <li><a href="/questions">FAQ</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">EXHIBITS<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<ul class ="sidenav" id = "mobile-nav">
      <li>
        <a href ="/index">Home</a>
      </li>
       <li>
        <a href ="/exhibit">Exhibit</a>
      </li>
       <li>
        <a href ="/map">Map</a>
      </li>
       <li>
        <a href ="/questions">Feedback</a>
      </li>
    </ul>


<h1><img src="{% static 'bob.gif' %}" alt = "Bob Marley" width="1800" height="700"/></h1>
<i><h1>Bob Marley</h1> </i>
<p class="outset">
<h4>
<p>The Bob Marley biography provides testament to the unparalleled influence of his artistry upon global culture. Since his passing on
May 11, 1981, Bob Marley’s legend looms larger than ever, as evidenced by an ever-lengthening list of accomplishments attributable to
his music, which identified oppressors and agitated for social change while simultaneously allowing listeners to forget their troubles
and dance. </p>

<p>Bob Marley was posthumously inducted into the Rock and Roll Hall of Fame in 1994; in December 1999, his 1977 album “Exodus” was named
Album of the Century by Time Magazine and his song “One Love” was designated Song of the Millennium by the BBC. Since its release in 1984,
Marley’s “Legend” compilation has annually sold over 250,000 copies according to Nielsen Sound Scan, and it is only the 17th album to exceed
 sales of 10 million copies since SoundScan began its tabulations in 1991.</p>


<p>Bob Marley’s music was never recognized with a Grammy nomination but in 2001 he was bestowed The Grammy Lifetime Achievement Award, an
honor given by the Recording Academy to “performers who during their lifetimes, have made creative contributions of outstanding artistic
significance to the field of recording.” That same year, a feature length documentary about Bob Marley’s life, Rebel Music, directed by
Jeremy Marre, was nominated for a Grammy for Best Long Form Music Video documentary. In 2001 Bob Marley was accorded the 2171st star on
the Hollywood Walk of Fame by the Hollywood Historic Trust and the Hollywood Chamber of Commerce, in Hollywood, California. As a recipient
of this distinction, Bob Marley joined musical legends including Carlos Santana, Stevie Wonder and The Temptations.</p>

<p>In 2006 an eight block stretch of Brooklyn’s bustling Church Avenue, which runs through the heart of that city’s Caribbean community, was
renamed Bob Marley Boulevard, the result of a campaign initiated by New York City councilwoman Yvette D. Clarke. This year the popular TV
show Late Night with Jimmy Fallon commemorated the 30th anniversary of Bob Marley’s passing with an entire week (May 9-13) devoted to his
music, as performed by Bob’s eldest son Ziggy, Jennifer Hudson, Lauryn Hill, Lenny Kravitz and the show’s house band The Roots. These
triumphs are all the more remarkable considering Bob Marley’s humble beginnings and numerous challenges he overcame attempting to gain a
foothold in Jamaica’s chaotic music industry while skillfully navigating the politically partisan violence that abounded in Kingston
throughout the 1970s.</p>

One of the 20th century’s most charismatic and challenging performers, Bob Marley’s renown now transcends the role of reggae luminary: he is regarded as a cultural icon who implored his people to know their history “coming from the root of King David, through the line of Solomon,” as he sang on “Blackman Redemption”; Bob urged his listeners to check out the “Real Situation” and to rebel against the vampiric “Babylon System”. “Bob had a rebel type of approach, but his rebelliousness had a clearly defined purpose to it,” acknowledges Chris Blackwell, the founder of Island Records, who played a pivotal role in the Bob Marley biography by introducing Marley and the Wailers to an international audience. “It wasn’t just mindless rebelliousness, he was rebelling against the circumstances in which he and so many people found themselves.”
</h4>
<p class="outset">
<h1><img src="{% static 'bob2.jpg' %}" alt = "Jackie" width="1800" height="700"/></h1>





<!--  Footer Section   -->


  <footer class="page-footer purple">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="/about">About<i class="material-icons"></i></a>
            <li><a class="white-text" href="/exhibit">Exhibit<i class="material-icons"></i></a>
            <li><a class="white-text" href="/Map">Map<i class ="material-icons"></i></a>
            <li><a class="white-text" href="/questions">Questions<i class="material-icons"></i></a>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Snapchat</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>





</body>
</html>