<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOOKER T WASHINGTON</title>


 <meta charset="UTF-8">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</head>




{% load staticfiles %}
<div class = "parallax-container">
<h1><img src="{% static 'bt.jpg' %}" alt = "Bob Marley" width="1800" height="700"/></h1>
</div>

<i><h1>Booker Taliaferro Washington</h1> </i>
<p class="outset">
<h4>
Booker Taliaferro Washington (c. 1856 – November 14, 1915) was an American educator,
author, orator, and advisor to presidents of the United States. Between 1890 and 1915,
 Washington was the dominant leader in the African-American community.</p>

Washington was from the last generation of black American leaders born into slavery
 and became the leading voice of the former slaves and their descendants. They were
 newly oppressed in the South by disenfranchisement and the Jim Crow discriminatory
 laws enacted in the post-Reconstruction Southern states in the late 19th and early
 20th centuries.</p>

Washington was a key proponent of African-American businesses and one of the founders
 of the National Negro Business League. His base was the Tuskegee Institute,
 a historically black college in Alabama. As lynchings in the South reached a
 peak in 1895, Washington gave a speech, known as the "Atlanta compromise",
 which brought him national fame. He called for black progress through education
 and entrepreneurship, rather than trying to challenge directly the Jim Crow
 segregation and the disenfranchisement of black voters in the South. Washington
 mobilized a nationwide coalition of middle-class blacks, church leaders, and
 white philanthropists and politicians, with a long-term goal of building the
 community's economic strength and pride by a focus on self-help and schooling.
 But, secretly, he also supported court challenges to segregation and restrictions
 on voter registration, passing on funds to the NAACP for this purpose.
 Black militants in the North, led by W. E. B. Du Bois, at first supported
 the Atlanta compromise but after 1909, they set up the NAACP to work for
 political change. They tried with limited success to challenge Washington's
 political machine for leadership in the black community but also built wider
networks among white allies in the North.[2] Decades after Washington's death in
 1915, the civil rights movement of the 1950s took a more active and militant
 approach, which was also based on new grassroots organizations based in the
 South, such as CORE, SNCC and SCLC.</p>

Booker T. Washington mastered the nuances of the political arena in the late 19th
century, which enabled him to manipulate the media, raise money, develop strategy,
 network, push, reward friends, and distribute funds, while punishing those who
 opposed his plans for uplifting blacks. His long-term goal was to end the
 disenfranchisement of the vast majority of African Americans, who then still
 lived in the South.</p></h4>
<p class="outset">
<h1><img src="{% static 'bt2.jpg' %}" alt = "Jackie" width="1800" height="700"/></h1>


 <script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems);
  });
</script>

<!--  Footer Section   -->


  <footer class="page-footer purple">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="/about">About<i class="material-icons"></i></a>
            <li><a class="white-text" href="/exhibit">Exhibit<i class="material-icons"></i></a>
            <li><a class="white-text" href="/Map">Map<i class ="material-icons"></i></a>
            <li><a class="white-text" href="/questions">Questions<i class="material-icons"></i></a>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Snapchat</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>






</body>
</html>