<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta charset="UTF-8">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</head>
<body>


{% load staticfiles %}
<div class = "parallax-container">
<h1><img src=" {% static 'jd2.jpg' %}" alt = "Frederick Douglass " width="1800" height="700"/></h1>
</div>


<!--- NavBar --->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="/bob">BOB MARLEY</a></li>
    <li><a href="/jackie">JACKIE ROBERSON</a></li>
    <li><a href="/booker">BOOKER T WASHINGTON</a></li>
    <li class="/divider"></li>
    <li><a href="/jackson">MICHAEL JACKSON</a></li>
    <li><a href="/jordan">MICHAEL JORDAN</a></li>
    <li><a href="/fredrick">FREDRICK DOUGLAS</a></li>
</ul>

<nav>
    <div class="nav-wrapper purple">
        <a href="#!" class="purple brand-logo">African American History Museum</a>
        <ul class="right purple hide-on-med-and-down">
            <!-- Dropdown Trigger -->
            <li><a href="#"> <i class = "material-icons">search</i></a></li>
            <li><a href="/index">HOME</a></li>
            <li><a href="/questions">FAQ</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">EXHIBITS<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>





<i><h1>Frederick Douglass</h1> </i>
<p class="outset">
<h4>
<p>Frederick Douglass stood at the podium, trembling with nervousness. Before him sat abolitionists who had travelled to the Massachusetts
island of Nantucket. Only 23 years old at the time, Douglass overcame his nervousness and gave a stirring, eloquent speech about his life
as a slave. Douglass would continue to give speeches for the rest of his life and would become a leading spokesperson for the abolition of
slavery and for racial equality.</p>

The son of a slave woman and an unknown white man, "Frederick Augustus Washington Bailey" was born in February of 1818 on Maryland's eastern
 shore. He spent his early years with his grandparents and with an aunt, seeing his mother only four or five times before her death when he
 was seven. (All Douglass knew of his father was that he was white.) During this time he was exposed to the degradations of slavery,
 witnessing firsthand brutal whippings and spending much time cold and hungry. When he was eight he was sent to Baltimore to live
 with a ship carpenter named Hugh Auld. There he learned to read and first heard the words abolition and abolitionists.
 "Going to live at Baltimore," Douglass would later say, "laid the foundation, and opened the gateway, to all my subsequent prosperity."</p>

Douglass spent seven relatively comfortable years in Baltimore before being sent back to the country, where he was hired out to a farm run
 by a notoriously brutal "slavebreaker" named Edward Covey. And the treatment he received was indeed brutal. Whipped daily and barely fed,
 Douglass was "broken in body, soul, and spirit."</p>

On January 1, 1836, Douglass made a resolution that he would be free by the end of the year. He planned an escape. But early in April
he was jailed after his plan was discovered. Two years later, while living in Baltimore and working at a shipyard, Douglass would finally
realize his dream: he fled the city on September 3, 1838. Travelling by train, then steamboat, then train, he arrived in New York City
the following day. Several weeks later he had settled in New Bedford, Massachusetts, living with his newlywed bride (whom he met in
Baltimore and married in New York) under his new name, Frederick Douglass.</p>

Always striving to educate himself, Douglass continued his reading. He joined various organizations in New Bedford, including a black church.
 He attended Abolitionists' meetings. He subscribed to William Lloyd Garrison's weekly journal, the Liberator. In 1841, he saw Garrison speak
 at the Bristol Anti-Slavery Society's annual meeting. Douglass was inspired by the speaker, later stating, "no face and form ever impressed
 me with such sentiments [the hatred of slavery] as did those of William Lloyd Garrison." Garrison, too, was impressed with Douglass,
 mentioning him in the Liberator. Several days later Douglass gave his speech at the Massachusetts Anti-Slavery Society's annual convention
 in Nantucket-- the speech described at the top of this page. Of the speech, one correspondent reported, "Flinty hearts were pierced,
 and cold ones melted by his eloquence." Before leaving the island, Douglass was asked to become a lecturer for the Society for three years.
 It was the launch of a career that would continue throughout Douglass' long life.</p>

Despite apprehensions that the information might endanger his freedom, Douglass published his autobiography, Narrative of the Life of
Frederick Douglass, an American Slave, Written By Himself. The year was 1845. Three years later, after a speaking tour of England, Ireland,
and Scotland, Douglass published the first issue of the North Star, a four-page weekly, out of Rochester, New York.</p>

Ever since he first met Garrison in 1841, the white abolitionist leader had been Douglass' mentor. But the views of Garrison and Douglass
ultimately diverged. Garrison represented the radical end of the abolitionist spectrum. He denounced churches, political parties, even voting.
 He believed in the dissolution (break up) of the Union. He also believed that the U.S. Constitution was a pro-slavery document.
 After his tour of Europe and the establishment of his paper, Douglass' views began to change; he was becoming more of an independent
 thinker, more pragmatic. In 1851 Douglass announced at a meeting in Syracuse, New York, that he did not assume the Constitution was a
 pro-slavery document, and that it could even "be wielded in behalf of emancipation," especially where the federal government had
 exclusive jurisdiction. Douglass also did not advocate the dissolution of the Union, since it would isolate slaves in the South.
 This led to a bitter dispute between Garrison and Douglass that, despite the efforts of others such as Harriet Beecher Stowe to
 reconcile the two, would last into the Civil War. </p>

Frederick Douglass would continue his active involvement to better the lives of African Americans. He conferred with Abraham Lincoln during the Civil War and recruited northern blacks for the Union Army. After the War he fought for the rights of women and African Americans alike.

</h4>
<p class="outset">
<div class = "parallax-container">
<h1><img src="{% static 'fd.jpg' %}" alt = "Jackie" width="1800" height="700"/></h1>
    </div>


 <script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems);
  });
</script>





<!--  Footer Section   -->


  <footer class="page-footer purple">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="/about">About<i class="material-icons"></i></a>
            <li><a class="white-text" href="/exhibit">Exhibit<i class="material-icons"></i></a>
            <li><a class="white-text" href="/Map">Map<i class ="material-icons"></i></a>
            <li><a class="white-text" href="/questions">Questions<i class="material-icons"></i></a>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Snapchat</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>



</body>
</html>