<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MICHAEL JORDAN</title>

    <meta charset="UTF-8">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</head>
<body>

<!--- NavBar --->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="/bob">BOB MARLEY</a></li>
    <li><a href="/jackie">JACKIE ROBERSON</a></li>
    <li><a href="/booker">BOOKER T WASHINGTON</a></li>
    <li class="/divider"></li>
    <li><a href="/jackson">MICHAEL JACKSON</a></li>
    <li><a href="/jordan">MICHAEL JORDAN</a></li>
    <li><a href="/fredrick">FREDRICK DOUGLAS</a></li>
</ul>

<nav>
    <div class="nav-wrapper purple">
        <a href="#!" class="purple brand-logo">African American History Museum</a>
        <ul class="right purple hide-on-med-and-down">
            <!-- Dropdown Trigger -->
            <li><a href="#"> <i class = "material-icons">search</i></a></li>
            <li><a href="/index">HOME</a></li>
            <li><a href="/questions">FAQ</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">EXHIBITS<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>





{% load staticfiles %}
<div class = "parallax-container">
    <h1><img src="{% static 'mic.gif' %}" alt = "Michael" width="1800" height="700"/></h1>
</div>
<i><h1>Michael Jordan</h1> </i>

<p class="outset">
<h3>
Michael Jeffrey Jordan was born in Brooklyn, New York on February 17, 1963.
He was the fourth of five children born to James and Deloris. James Jordan
was a mechanic and Deloris Jordan was a bank teller. Soon after Michael's birth,
James and Deloris felt that the streets of Brooklyn were unsafe to raise a family,
so they moved the family to Wilmington, North Carolina.</p>

As a youngster, Michael immediately became interested in sports. However, it was
baseball not basketball that was his first love. He would play catch in the yard
with his father, who loved baseball. He soon started to play basketball to try
and follow in the footsteps of his older brother, Larry, whom he idolized growing
up.</p>

At Laney High School, as a sophomore, he decided to try out for the varsity
team but was cut because he was raw and undersized. The following summer,
he grew four inches and practiced tirelessly. The hard work paid off as he
 averaged 25 points per game in his last two years and was selected to the
 McDonald's All-American Team as a senior.</p>

Following high school, he earned a basketball scholarship from North Carolina
University where he would play under legendary coach Dean Smith. In his first
year, he was named ACC Freshman of the Year. He would help lead the Tarheels
to the 1982 NCAA Championship, making the game-winning shot.</p>

After winning the Naismith College Player of the Year award in 1984, Jordan
decided to leave North Carolina to enter the NBA draft. Although he decided
to leave college early, he would later return to the university in 1986 to
complete his degree in geography.</p>

In the 1984 NBA draft, he was selected with the third overall pick by the Chicago
Bulls. As a rookie for the Bulls, he made an immediate impact, averaging an amazing
 28.2 points a game, including six games where he scored 40+ points. He was selected
 to the NBA All-Star Game and named Rookie of the Year. This would just be the
 beginning of a career filled with awards and accolades. In the upcoming years,
 he would go on to win five regular season MVP awards, six NBA championships,
 six NBA finals MVP awards, three All-Star game MVP awards, and a defensive
 player of the year award.

In 1993, tragedy struck Jordan's seemingly perfect life. On July 23, 1993, his
father, James, was murdered off Interstate 95 in North Carolina. Two locals had
 robbed him, shot him in the chest and threw his body in a swamp.

Three months later on October 6, 1993, following a run of three consecutive NBA
championships, Jordan announced his retirement from basketball citing that "he
 no longer had the desire to play." Now "retired" at age 33, it was uncertain
 what Jordan would do next. Would he take a year off out of the public eye to
 grieve and then come back to the Bulls? Would he go out and look for a whit
 e collar job in the field of geography, his college major? Or would he take
 up a completely different hobby like golf?</p>

In early 1994, Jordan decided to take up a new hobby alright. However, it wasn't
 golf. It was baseball. Despite not playing baseball since high school some 13
 years ago, he signed a minor league contract with the Chicago White Sox in 1994.
 He played one unspectacular season for the Double-A Birmingham Barons.</p>

On March 18, 1995, Jordan, a man of few words since his retirement, sent two
important words to media sources everywhere: "I'm Back". He celebrated his
 return to the NBA by doing what he always did best: winning. Although the
 Bulls would lose in the playoffs to the Orlando Magic, it was obvious that
 Jordan was still the same superstar player. He would go on to lead the Bulls
 to three more consecutive NBA championships and etch his place in the history
 as the "NBA's greatest player of all-time".</p>

On January 13, 1999, Jordan re-announced his retirement, saying that "he was 99.9
percent sure that he would never play again". Soon after, Jordan became part owner
 of the Washington Wizards.</p>

Near the start of the 2001-02 season, there were hints that Jordan may try another
 comeback to the NBA. On September 25, 2001, Jordan confirmed those rumors,
 announcing that he would once again return to the NBA as a member of the Wizards.
 His two seasons in Washington were mediocre at best. His statistics were solid
 and he showed some flashes of his old self but he could not lead the Wizards to
 the playoffs and missed several games due to injury. He retired for good following
 the 2002-03 season and was subsequently dismissed as president of the Washington
 Wizards.</p>

In June 2006, he became part owner of the Charlotte Bobcats. Later that year,
he filed for divorce from Juanita, his wife of 17 years. They have three children
together.</p>
</h3>

<p class="outset">
<h1><img src="{% static 'jordan.gif' %}" alt = "Mic" width="1800" height="700"/></h1>


 <script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems);
  });
</script>

<!--  Footer Section   -->


  <footer class="page-footer purple">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="/about">About<i class="material-icons"></i></a>
            <li><a class="white-text" href="/exhibit">Exhibit<i class="material-icons"></i></a>
            <li><a class="white-text" href="/Map">Map<i class ="material-icons"></i></a>
            <li><a class="white-text" href="/questions">Questions<i class="material-icons"></i></a>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Snapchat</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>










</body>
</html>