
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <title>FREQUENTLY ASKED QUESTIONS</title>
</head>
<body>

{% load staticfiles %}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <!--<h1 class="header center teal-text text-lighten-2">Questions</h1>-->


        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'questions.jpg' %}" alt="Unsplashed background img 1"></div>
  </div>

<!--- NavBar --->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/about">BOB MARLEY</a></li>
  <li><a href="#!">JACKIE ROBERSON</a></li>
  <li class="divider"></li>
  <li><a href="#!">OTHER</a></li>
</ul>

<nav>
  <div class="nav-wrapper purple">
    <a href="#!" class="purple brand-logo">African American History Museum</a>
    <a href ="#" data-target ="mobile-nav" class ="sidenav-trigger">
        <i class = "material-icons">menu</i>
    </a>
    <ul class="right purple hide-on-med-and-down">
        <!-- Dropdown Trigger -->
        <li><a href="#"> <i class = "material-icons">search</i></a></li>
      <li><a href="/index">HOME</a></li>
      <li><a href="/questions">FAQ</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">EXHIBITS<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<ul class ="sidenav" id = "mobile-nav">
      <li>
        <a href ="/index">Home</a>
      </li>
       <li>
        <a href ="/exhibit">Exhibit</a>
      </li>
       <li>
        <a href ="/map">Map</a>
      </li>
       <li>
        <a href ="/questions">Feedback</a>
      </li>
    </ul>


<blockquote><center> To help you prepare for your visit, we have provided answers below to the most frequently asked questions about our Museum.</center></blockquote>



<ul class="collapsible">
    <li>
      <div class="collapsible-header red white-text"><i class="material-icons">filter_drama</i>What are the Museum's operating hours?</div>
      <div class="collapsible-body"><span>The Museum is open 7-days a week, 364 days a year. Our regular operating hours are from 10:00 a.m. - 5:30 p.m.
          The Museum is closed on December 25.

      Special Hours:
       The Museum will be open from 10:00 a.m. – 7:30 p.m. on Friday, November 23 and Wednesday, December 26 through Saturday, December 29.
      </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>What are admissions or entrance costs for the Museum?</div>
      <div class="collapsible-body"><span>Entry to all Smithsonian museums in Washington, D.C. is free.</span></div>
    </li>
    <li>
      <div class="collapsible-header red white-text""><i class="material-icons">whatshot</i>Can I plan a tour or receive advice about what to see at the Museum?
      </div>
      <div class="collapsible-body"><span>Volunteer Visitor Services Representatives are available to provide advice and to help navigate the 12 galleries, the Museum Store, Sweet Home Café and all the opportunities
          and services that are part of the Museum experience.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Is there a museum store?</div>
      <div class="collapsible-body"><span>Yes, there is a Museum Store located on the Entry Level offering a wide selection of items reflecting the experience,
          architecture, and collections of the Museum. Offerings are selected to encourage visitors to continue their
          exploration of African American history and culture.</span></div>
    </li>
    <li>
      <div class="collapsible-header red white-text""><i class="material-icons">whatshot</i>What are expected wait times for entrance to Museum and events?</div>
      <div class="collapsible-body"><span>Please be prepared for crowds and wait times as you enter the Museum. Please be mindful that it will take time to enter the Museum through the security screening,
          orient yourself to the space and begin your Museum experience. .</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Are food and drink allowed in the Museum?</div>
      <div class="collapsible-body"><span>No food and drink is allowed in the Museum. Bottled water is permitted.
          You may consume food and drinks in the Sweet Home Café, but not in other areas of the Museum.
          Groups who bring food are encouraged to picnic on the National Mall. Bag lunch facilities are not available in the Museum.

</span></div>
    </li>
  </ul>


<p>We would like to how your experience been at African American Museum, Please fill out the form below so we can address
any issues that may have affected your experience here at the museum. Thank You!</p>



<div class ="col s12 m6">
    <div class ="card-panel grey lighten-3">
        <h5>Please fill out this form</h5>
        <div class = "input-field">
            <input type="text" placeholder="Name">
        </div>
        <div class = "input-field">
            <input type="text" placeholder="Email">
        </div>
        <div class = "input-field">
            <input type="text" placeholder="Phone">
        </div>
        <div class = "input-field">
            <textarea class = "materialize-textarea"
            placeholder="Enter a message"> </textarea>
        </div>

         <a href ="/submit">
        <input type = "submit" value="Submit" class="btn"></a>

    </div>
</div>



<!--  Footer Section   -->


  <footer class="page-footer purple">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="/about">About<i class="material-icons"></i></a>
            <li><a class="white-text" href="/exhibit">Exhibit<i class="material-icons"></i></a>
            <li><a class="white-text" href="/Map">Map<i class ="material-icons"></i></a>
            <li><a class="white-text" href="/questions">Questions<i class="material-icons"></i></a>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Snapchat</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>




<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
  });

   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });


   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems);
  });

   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
</script>

</body>
</html>