<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FREQUENTLY ASKED QUESTIONS</title>
</head>
<body>

<p>The Smithsonian National Museum of African American History and Culture offers a once-in-a-lifetime opportunity to be part of the founding
    of a new national institution. We invite individuals, foundations, corporations, and other organizations to join us in this historic
    endeavor that will impact the nation for generations to come. There are many ways you can support this watershed moment in the national discussion about race and
    the vital role African Americans have played in the American story.</p>

<div class ="col s12 m6">
    <div class ="card-panel grey lighten-3">
        <h5>Please fill out this form</h5>
        <div class = "input-field">
            <input type="text" placeholder="Name">
        </div>
        <div class = "input-field">
            <input type="text" placeholder="Email">
        </div>
        <div class = "input-field">
            <input type="text" placeholder="Phone">
        </div>
        <div class = "input-field">
            <textarea class = "materialize-textarea"
            placeholder="Enter a message"> </textarea>
        </div>
        <input type = "submit" value="Submit" class="btn">
    </div>
</div>

</body>
</html>