
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FREQUENTLY ASKED QUESTIONS</title>
</head>
<body>

<p>The Smithsonian National Museum of African American History and Culture offers a once-in-a-lifetime opportunity to be part of the founding
    of a new national institution. We invite individuals, foundations, corporations, and other organizations to join us in this historic
    endeavor that will impact the nation for generations to come. There are many ways you can support this watershed moment in the national discussion about race and
    the vital role African Americans have played in the American story.</p>

<div class ="col s12 m6">
    <div class ="card-panel grey lighten-3">
        <h5>Please fill out this form</h5>
        <div class = "input-field">
            <input type="text" placeholder="Name">
        </div>
        <div class = "input-field">
            <input type="text" placeholder="Email">
        </div>
        <div class = "input-field">
            <input type="text" placeholder="Phone">
        </div>
        <div class = "input-field">
            <textarea class = "materialize-textarea"
            placeholder="Enter a message"> </textarea>
        </div>
        <input type = "submit" value="Submit" class="btn">
    </div>
</div>

{% load staticfiles %}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Parallax Template</h1>
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'give.png' %}" alt="Unsplashed background img 1"></div>
  </div>



<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
  });
</script>
</body>
</html>