<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SUBMIT</title>
</head>
<body>
{% load staticfiles %}

<h1>THANK YOU FOR YOUR SUBMISSION. THIS IS VERY HELP FOR OUR MUSEUM</h1>

<h2><img src="{% static 'check.png' %}" alt = "everyone" width="200" height="200"/>
<h2><p style="font-size:30px; font-style:italic;">Congratulations, you successfully submitted your form.<p style="font-size:30px; font-style:italic;"> Thank you for your service & comments</p></h2>
    <h2><img src="{% static 'submit.gif' %}" alt = "everyone" width="500" height="500"/></h2>
</h2>

</body>
</html>